<section class="about section " id="about">
    <h2 class="section-title">About</h2>
    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="assets/img/pic.png" alt="">
        </div>
        <div>
            <h2 class="about__subtitle">I'am Bhargav</h2>
            <p class="about__text">I am a versatile developer proficient in HTML, CSS, JavaScript, and various other technologies...</p>           
        </div>                                   
    </div>
</section>

